<div id="container" class="d-flex flex-column p-3">
  <mdb-tabs [pills]="true" class="container">
    <mdb-tab title="Routers">
      <div class="mb-3">
        <div class="d-flex align-items-center mb-3">
          <h6 class="display-6 mb-0">Routers</h6>

          <div class="btn-group ms-auto" role="group">
            <button
              type="button"
              class="btn btn-primary"
              (click)="viewMode = 'card'"
              [ngClass]="{ active: viewMode == 'card' }"
            >
              <i class="fas fa-columns me-0 me-sm-3"></i>
              <span class="d-none d-sm-inline-block">Card View</span>
            </button>
            <button
              type="button"
              class="btn btn-primary"
              (click)="viewMode = 'table'"
              [ngClass]="{ active: viewMode == 'table' }"
            >
              <i class="fas fa-table me-0 me-sm-3"></i>
              <span class="d-none d-sm-inline-block">Table View</span>
            </button>
          </div>
        </div>

        <mdb-form-control>
          <input
            mdbInput
            type="text"
            class="form-control"
            placeholder="phrase in:field1,field2"
          />
        </mdb-form-control>
      </div>
      <ng-container *ngIf="viewMode == 'table'">
        <div class="datatable flex-fill">
          <div
            class="datatable-inner h-100"
            mdbScrollbar
            style="position: relative"
          >
            <table
              class="table datatable-table"
              mdbTable
              mdbTableSort
              #table="mdbTable"
              #sort="mdbTableSort"
              [dataSource]="dataSource"
              [sort]="sort"
              [pagination]="pagination"
              [filterFn]="filterFn"
              [fixedHeader]="true"
            >
              <thead class="datatable-header">
                <tr>
                  <th
                    *ngFor="let header of headers"
                    [mdbTableSortHeader]="header"
                    scope="col"
                  >
                    {{ header }}
                  </th>
                </tr>
              </thead>
              <tbody class="datatable-body">
                <tr *ngFor="let data of table.data" scope="row">
                  <td
                    [ngClass]="{
                      'text-danger': data.status == 'Offline',
                      'text-success': data.status == 'Online'
                    }"
                  >
                    <i class="fas fa-circle me-3"></i>
                    {{ data.status }}
                  </td>
                  <td>
                    {{ data.zone }}
                  </td>
                  <td>
                    {{ data.users }}
                  </td>
                  <td>
                    {{ data.ssid }}
                  </td>
                  <td>
                    {{ data.hostname }}
                  </td>
                  <td>
                    {{ data.model }}
                  </td>
                  <td>
                    {{ data.mac }}
                  </td>
                  <td>
                    {{ data.uptime }}
                  </td>
                  <td>
                    <span
                      *ngFor="let tag of data.tags"
                      class="px-2 py-1 m-1 bg-primary text-white rounded"
                      style="width: fit-content"
                    >
                      {{ tag }}
                    </span>
                  </td>
                  <td>
                    <button
                      class="
                        call-btn
                        btn btn-outline-primary btn-floating btn-sm
                      "
                    >
                      <i class="fas fa-pen"></i>
                    </button>
                    <button
                      class="
                        messhandle-btn
                        btn
                        ms-2
                        btn-danger btn-floating btn-sm
                      "
                    >
                      <i class="fas fa-trash"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <mdb-table-pagination
          #pagination
          class="container"
        ></mdb-table-pagination>
      </ng-container>

      <ng-container *ngIf="viewMode == 'card'">
        <div class="container">
          <div class="row g-3">
            <div
              class="col-sm-6 col-xl-4 col-xxl-3"
              *ngFor="let wifiRouter of dataSource"
            >
              <div
                class="card border"
                [ngClass]="{
                  'border-danger': wifiRouter.status == 'Offline',
                  'border-success': wifiRouter.status == 'Online'
                }"
              >
                <div
                  class="
                    card-header
                    text-white
                    fw-bold
                    d-flex
                    align-items-center
                  "
                  [ngClass]="{
                    'bg-danger': wifiRouter.status == 'Offline',
                    'bg-success': wifiRouter.status == 'Online'
                  }"
                >
                  <span> {{ wifiRouter.zone }}</span>
                  <div mdbDropdown class="btn-group ms-auto">
                    <button
                      type="button"
                      class="
                        btn btn-light
                        dropdown-toggle dropdown-toggle-split
                      "
                      mdbDropdownToggle
                      aria-expanded="false"
                    >
                      <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul mdbDropdownMenu class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Edit</a></li>
                      <li>
                        <a class="dropdown-item" href="#">Change zone</a>
                      </li>
                      <li>
                        <hr class="dropdown-divider" />
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">Remove</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="card-body p-3">
                  <p class="m-0">
                    <b>Number of Users: </b> <span>{{ wifiRouter.users }}</span>
                  </p>
                  <p class="m-0">
                    <b>SSID: </b> <span>{{ wifiRouter.ssid }}</span>
                  </p>
                  <p class="m-0">
                    <b>Hostname: </b> <span>{{ wifiRouter.hostname }}</span>
                  </p>
                  <p class="m-0">
                    <b>Model: </b> <span>{{ wifiRouter.model }}</span>
                  </p>
                  <p class="m-0">
                    <b>MAC Address: </b> <span>{{ wifiRouter.mac }}</span>
                  </p>
                  <p class="m-0" *ngIf="wifiRouter?.uptime">
                    <b>Uptime: </b> <span>{{ wifiRouter.uptime }}</span>
                  </p>
                  <div *ngIf="wifiRouter?.tags?.length">
                    <b>Tags: </b>
                    <div
                      *ngFor="let tag of wifiRouter.tags"
                      class="px-2 py-1 m-1 bg-primary text-white rounded"
                      style="width: fit-content"
                    >
                      {{ tag }}
                    </div>
                  </div>
                </div>
                <div
                  class="card-footer text-center"
                  [ngClass]="{
                    'text-danger': wifiRouter.status == 'Offline',
                    'text-success': wifiRouter.status == 'Online'
                  }"
                >
                  {{ wifiRouter.status }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container></mdb-tab
    >
    <mdb-tab title="Zones">
      <div class="mb-3">
        <div class="d-flex align-items-center mb-3">
          <h6 class="display-6 mb-0">Zones</h6>

          <div class="btn-group ms-auto" role="group">
            <button
              type="button"
              class="btn btn-primary"
              (click)="viewMode = 'card'"
              [ngClass]="{ active: viewMode == 'card' }"
            >
              <i class="fas fa-columns me-0 me-sm-3"></i>
              <span class="d-none d-sm-inline-block">Card View</span>
            </button>
            <button
              type="button"
              class="btn btn-primary"
              (click)="viewMode = 'table'"
              [ngClass]="{ active: viewMode == 'table' }"
            >
              <i class="fas fa-table me-0 me-sm-3"></i>
              <span class="d-none d-sm-inline-block">Table View</span>
            </button>
          </div>
        </div>

        <input
          type="text"
          id="advanced-search-zones"
          class="form-control"
          #searchInputZones
          placeholder="phrase in:field1,field2"
        />
      </div>
    </mdb-tab>
  </mdb-tabs>
</div>
