nav {
  min-height: 70px !important;
  z-index: 1;
}

#sidenav-slim-toggler {
  bottom: 50%;
  background-color: #424242;
  position: absolute;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s;
  z-index: 3;

  i {
    transition: transform 0.3s;
  }

  &:hover {
    opacity: 1;
  }
}

#sidenavToggler {
  i {
    transition: transform 0.3s;
  }
}

#main-container {
  overflow: hidden;
  max-height: 100vh;
}
