<!-- Sidenav -->
<mdb-sidenav-layout>
  <mdb-sidenav
    #sidenav="mdbSidenav"
    [slim]="true"
    [slimCollapsed]="sidenavCollapsed"
    mode="side"
    (sidenavHidden)="sidenavHidden = true"
    (sidenavShown)="sidenavHidden = false"
    (sidenavCollapsed)="sidenavCollapsed = true"
    (sidenavExpanded)="sidenavCollapsed = false"
    [hidden]="false"
  >
    <nav class="navbar navbar-dark bg-primary">
      <div class="d-flex justify-content-center w-100">
        <a
          class="navbar-brand"
          routerLink=""
          *ngIf="!sidenavCollapsed"
          tabindex="-1"
        >
          Admin Portal
        </a>
        <img
          src="../favicon.ico"
          alt=""
          srcset=""
          *ngIf="sidenavCollapsed"
          routerLink=""
          tabindex="-1"
          style="cursor: pointer"
        />
      </div>
    </nav>
    <ul class="sidenav-menu my-1">
      <mdb-sidenav-item>
        <a
          class="sidenav-link"
          routerLink="monitor"
          routerLinkActive="active"
          tabindex="-1"
        >
          <i class="fas fa-desktop me-3"></i
          ><span slim="false">Routers</span></a
        >
      </mdb-sidenav-item>
      <mdb-sidenav-item>
        <a
          class="sidenav-link"
          routerLink="expendedoras"
          routerLinkActive="active"
          tabindex="-1"
        >
          <i class="fas fa-cash-register me-3"></i
          ><span slim="false">Vending Machines</span></a
        >
      </mdb-sidenav-item>
      <mdb-sidenav-item>
        <a
          class="sidenav-link"
          routerLink="plans-and-rates"
          routerLinkActive="active"
          tabindex="-1"
        >
          <i class="fas fa-hand-holding-usd me-3"></i
          ><span slim="false">Plans & Rates</span></a
        >
      </mdb-sidenav-item>
    </ul>
  </mdb-sidenav>
  <mdb-sidenav-content #sidenavContent>
    <div id="main-container" class="d-flex flex-column p-0">
      <nav class="navbar navbar-light bg-light">
        <div class="d-flex px-2 align-items-center">
          <a
            id="sidenavToggler"
            class="text-primary me-3 ms-2"
            role="button"
            (click)="sidenav.toggle()"
            ><i
              class="fas fa-bars"
              [ngStyle]="{
                transform: !sidenavHidden ? 'rotate(90deg)' : 'none'
              }"
            ></i
          ></a>
          <a
            class="navbar-brand"
            href="#"
            *ngIf="sidenavHidden || sidenavCollapsed"
            routerLink=""
          >
            Admin Portal
          </a>
        </div>
      </nav>

      <router-outlet></router-outlet>

      <span
        id="sidenav-slim-toggler"
        class="mb-1 bg-primary text-white shadow-5"
        mdbRipple
        *ngIf="!sidenavHidden"
        (click)="sidenav.toggleSlim()"
      >
        <a>
          <i
            class="fas fa-angle-double-left m-2"
            [ngStyle]="{
              transform: sidenavCollapsed ? 'rotate(180deg)' : 'none'
            }"
          ></i
        ></a>
      </span>
    </div>
  </mdb-sidenav-content>
</mdb-sidenav-layout>
